
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Corinthia&family=Oleo+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
}
/*nav bar*/
nav {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    align-items: center;
   
    top: 0;
}

nav ul {

    display: flex;
    list-style: none;
    margin: 20px 0px;
}

nav ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;


}

nav ul li a {
    text-decoration: none;
    color: #186c8d;
    padding: 8px 25px;
    transition: all .5s ease;
    border-radius: 8px;
}

nav ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}



footer {

    padding: 36px;
}

footer ul {
    display: flex;
}


footer li {
    width: 100px;
    height: 100px;
    margin: 0 25px;
    list-style: none;
}

footer img {
    width: 80%;
    height: 80%;
}

footer {
    color: white;
    display: flex;
    height: 100%;
    border: 200px 30px;
    justify-content: center;
    background-color: rgb(102, 89, 89);
}